/* Font-a inportatzen*/
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff');
}
/* ----------- */

/* GENERAL */
html, body {
    height: 100%; 
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px; 
}
/* --------- */

/* INDEX */
.body-index {
    background-image: url("../img/background_login.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center; 
}

.container-index {
    margin-top: 10rem;
    margin-bottom: 20rem;

}
/* ----------- */

/* HEADER */
header .navbar {
    background-color: white !important; 
    box-shadow: 0px 0px 8px 0px #000000 !important;
    z-index: 9999 !important; 
    transition: 500ms;
}

header .navbar:hover,
header .navbar:focus {
    box-shadow: 0px 0px 20px 0px #000000 !important;
}

header .index-navbar {
    background-color: white !important; 
    box-shadow: 0px 0px 8px 0px #000000 !important;
    z-index: 9999 !important; 
    transition: 500ms;
}

.nav-item {
    transition: 300ms;
    padding: 0rem 0.8rem;
}

.nav-item a {
    color: #3e6484;
    transition: 300ms;
    font-weight: bold;
    font-size: 1rem;
}

.nav-item:hover,
.nav-item:focus {
    background-color: #3e6484;
    border-radius: 3px;
}

.nav-item:hover a, 
.nav-item:focus a {
    color: white;
}

.navbar-toggler {
    border: none;
    padding: 0;
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.hamburger-lines {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    display: block;
    height: 3px;
    width: 100%;
    background: #3e6484;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    margin-right: 0.5rem;
}

.navbar-toggler:not(.collapsed) .line1 {
    transform: translateY(8px) rotate(45deg);
}
.navbar-toggler:not(.collapsed) .line2 {
    opacity: 0;
}
.navbar-toggler:not(.collapsed) .line3 {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar-nav:last-child {
    display: flex;
    align-items: center;
}

.nav-item.perfil {
    display: flex;
    align-items: center;
    margin-left: 2rem; 
}

.perfil {
    border-radius: 100px;
    transition: box-shadow 500ms;
    cursor: pointer;
}

.perfil:hover,
.perfil:focus,
.perfil:active {
    box-shadow: 0px 0px 0px 5px #3e6484;

}

.perfil img {
    width: auto;
    height: 50px;
    display: block; 
}

.profile-menu-box {
    position: absolute;
    top: 100%;
    right: 0; 
    width: 220px;
    z-index: 1050;
    display: none; 
    margin-top: 10px;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform-origin: top right;
}

.profile-menu-box.show {
    display: block;
    opacity: 1;
    transform: scale(1);
}

.profile-toggle img {
    cursor: pointer;
}

.x-cerrar-pront {
    transition: 300ms;
}

.x-cerrar-pront:hover {
    color: red;
}

@media (max-width: 991.98px) {
    .nav-item.perfil {
        display: none;
    }
}
/* ----------- */

/* FOOTER */
footer {
    background-color: #224461;
}

footer a.text-white-50:hover {
    color: white !important;
}

.btn-social {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.social-icons a{
    text-decoration: none !important;
}

.btn-social:hover {
    background-color: white !important;
    color: #000000 !important; 
}
/* ----------- */

/* LOGIN */
.body-login {
    background-image: url("../img/background_login.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center; 
}

.login-container {
    max-width: 400px; 
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 90%; 
}

.form-label {
    font-weight: 500;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    margin-top: 15px;
}

.text-center a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .login-container {
        width: 95%;
        padding: 30px; 
        box-shadow: none; 
    }
    
    .body-login {
        align-items: flex-start;
        padding-top: 5vh; 
        padding-bottom: 5vh;
    }
}
/* ----------- */


/* REGISTER */
.register-container {
    width: 35%;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

@media (max-width: 576px) {
    .register-container {
        width: 95%;
        padding: 20px; 
        box-shadow: none; 
    }
}
/* ----------- */

/* HOME */
.container-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/background_login.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: center;
}

.title-home {
    letter-spacing: 5px; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.subtitle-home {
    color: #7cc4ff;
}
/* ------------- */

/* PERFIL */
.container-carta{
    background-color: #f8f9fa;
}

.nombre-perfil img {
    width: 120px; 
    height: 120px; 
    object-fit: cover;
}
/* ------------- */